@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #6F69AC;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

.first{
    padding: 1rem;
    padding: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    max-width: 600px;
    /* height: 100vh; */
    border-radius: 1rem;
    margin-bottom: 4rem;
    /* overflow-x: hidden; */
}

 .container{
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    
}

#next-sec{
    display: none;
    padding: 1rem;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
}

.para{
    width: 60%;
    padding: 0.5rem;
    margin: 1rem;
    /* border: 1px solid black; */
    border-radius: 0.4rem;
    background-color: #95DAC1;
}

#first-message{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: large;

}

#show-message{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: large;
}

#bill-amount{
    width: 60%;
padding: 0.5rem;
border: none;
border-radius: 0.3rem;

}

#cash-given{
    width: 60%;
padding: 0.5rem;

border: none;
border-radius: 0.3rem;

}

#btn-check{
    padding: 0.3rem;
    border-radius: 0.3rem;
    width:10rem;
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 2rem;
    border: none;
    border-radius: 0.3rem;
    transition: 0.3s;
}

#btn-check:hover{
    background-color: #FFEBA1;
}

#nxt-btn{
    padding: 0.3rem;
    border-radius: 0.2rem;
    width:10rem;
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-top: 2rem;
    border: none;
    border-radius: 0.3rem;
    transition: 0.3s;

}


#nxt-btn:hover{
    background-color: #FFEBA1;
}


#table-cash{
    border: solid 2px black;
    border-radius: 0.2rem;
    width: 80%;
}

#table-cash , caption{
    font-size: large;
    font-weight: bold;
    padding: 0.8rem;
}

.link 
{
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    transition: 0.5s;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0.5rem, 1rem;
}

.footer
{
    width: 100%;
    padding: auto;
    text-align: center;
    color: black;
    background-color: #95DAC1;
    border-bottom-right-radius: 1rem;
    position: fixed;
    bottom:0 ;
    padding: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow-x: hidden;
}

.footer .link
{
 color:black;
 font-weight: bold;
}

.footer .ul 
{
    padding-inline-start: 0;
}

@media only screen and (max-width: 600px) {
    .first {
        max-width: auto;

    }    

    .para {
        width: 90%;
    }
    #bill-amount {
        width: 90%;
    }

    #cash-given {
        width: 90%;
    }

    #table-cash {
        width: 90%;
    }
}
